<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<ul>
    <li th:each="user: ${users}">
        <strong> <span th:text= "${user.username}"></span></strong>
        <form th:if="${user.isAdmin() != true}" method="post" th:action="@{/admin}">
            <input type="hidden" name="userId" th:value="${user.id}">
            <button type="submit">admin</button>
        </form>

        <h4 th:if="${user.admin}">Du bist der Checker</h4>
    </li>
</ul>

</body>
</html>