<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Beitrag hinzugefuegt</title>
</head>
<body>

Vielen Dank für Ihren Beitrag!
Ihr Beitrag wurde erfolgreich hinzugefügt!

<a th:href="@{/beitraguebersicht}"> Hier geht es zurück zur Beitragsübersicht</a>


</body>
</html>