<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Beitrag gelöscht</title>
</head>
<body>

Vielen Dank für die Blumen!
Ihr Beitrag wurde erfolgreich gelöscht!

<a th:href="@{/beitraguebersicht}"> Hier geht es zurück zur Beitragsübersicht</a>


</body>
</html>