<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Beitrag</title>
</head>
<body>


<h2 th:text="${beitrag.ueberschrift}"></h2>
<span th:text="${beitrag.inhalt}"></span>
<p th:text="${beitrag.postedAt}" style="color: blue"></p>
<div th:if="${sessionUser != null}">
    <div th:if="${sessionUser.isAdmin()}">
        <div>
            <form th:action="@{/beitrag/delete/{beitragId}(beitragId=${beitrag.id})}" method="post">
                <button type="submit">Beitrag löschen</button>
            </form>
        </div>
    </div>
</div>

<h4>Kommentare zum Beitrag:</h4>
<ul>
    <li th:each="kommentar : ${beitrag.getKommentare()}">

        <span th:text="${kommentar.user.username}"></span>
        <span th:text="${kommentar.kommentartext}"></span>
        <div th:if="${sessionUser != null}">
            <div th:if="${sessionUser.getId() == kommentar.getUser().getId() || sessionUser.isAdmin()}">
                <form th:action="@{/beitrag/{beitragId}/{kommentarId}(beitragId=${beitrag.id}, kommentarId=${kommentar.id})}"
                      method="post">
                    <button type="submit">Kommentar löschen</button>
                </form>
            </div>
        </div>

    </li>
</ul>

<p>
    <a th:href="@{/{beitragId}/kommentar/{userId}(beitragId=${beitragId}, userId=${sessionUser.id})}"
       th:if="${sessionUser != null}">Kommentar verfassen</a>
</p>
<a th:href="@{/beitraguebersicht}"> Hier geht es zurück zur Beitragsübersicht</a>
</body>
</html>