<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
<head>
    <meta charset="UTF-8">
    <title>MoMaBlog</title>
</head>

<body>

<h2>Blogbeiträge</h2>
<p>Bitte auf den einzelnen Beitrag klicken für die Detailansicht</p>


<ul>
    <li th:each="beitrag : ${beitragsList}">
        <br>
        <h4>
            <a th:href="@{/beitrag/{beitragId}(beitragId=${beitrag.id})}">
                <span th:text="${beitrag.ueberschrift}"></span>
            </a>
        </h4>
        <div th:if="${sessionUser != null}">
            <div th:if="${sessionUser.isAdmin()}">
                <div><a th:href="@{/beitrag/edit/{beitragId}(beitragId=${beitrag.id})}">
                    Beitrag bearbeiten
                </a>
                </div>

            </div>
        </div>
        <br>
    </li>
</ul>

<a th:href="@{/beitraghinzufuegen}" th:if="${sessionUser != null and sessionUser.isAdmin()}"> Hier kannst du einen
    Beitrag hinzufuegen...</a>

</body>
</html>