<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MoMaBlog</title>
</head>


<body>

<h1> Willkommen zu unserem Blog</h1>

<p>
    <a th:href="@{/beitraguebersicht}">Hier geht es zu den Blogbeitraegen</a>
</p>

<a th:href="@{/login}" th:if="${sessionUser == null}">Login</a>

<a th:href="@{/register}">Registrieren</a>
<form th:if="${sessionUser != null}" method="post" th:action="@{/logout}">
    <button type="submit">Logout</button>
</form>
<a th:href="@{/admin}" th:if="${sessionUser != null and sessionUser.isAdmin()}"> Hier geht es zurück zur Adminseite</a>

</body>
</html>